.recipe-form {
    display: grid !important;
    grid-template-columns: auto auto 1fr;
    column-gap: 3em;
    width: auto;
    height: 50vh;
    overflow: auto;
}

.recipe-right,
.recipe-right > .description,
.recipe-right > .description > div {
    width: 100% !important;
}

.ant-modal {
    width: 90vw !important;
}

.recipe-right {
    height: fit-content;
}

.ingredient-recipe-form {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    column-gap: 1em;
    align-items: flex-end;
}

.recipe-add-form {
    display: flex;
    flex-direction: column;
}

form {
    width: 100% !important;
}

.recipe-left {
    width: 100%;
}

#shooping-list-container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 8em;
}

#shopping-list-title > input {
    width: 100%;
}

#shopping-list-add-recipes {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2em;
}

#shopping-list-add-ingredients {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2em;
}

@media (max-width: 60rem) {
    .recipe-form {
        display: flex !important;
        flex-direction: column;
        column-gap: 3em;
        padding-top: 20em;
    }

    .recipe-form > .recipe-right {
        display: block;
    }
}

