.recipe-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    row-gap: 2em;
}

.recipe-right > .info {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.recipe-right > img {
    align-self: center;
    width: 30em;
}

.recipe-right > .info > a > .ant-card {
    max-width: 15em;
}

.recipe > textarea {
    width: 100% !important;
    height: 100%;
}
.recipe-form {
    display: block;
}

.recipe-form textarea {
    height: 20em;
}
